@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

header{width: 393px; height: 75px;z-index: 10;position: relative;background-color: #1A1A1A;}
header > nav{position: relative;}
header > nav > .menu{width: 19px; height: 13px;border: 0px solid red;display: block;background-image: url('img/m_menu.png');position: absolute;right: 35px;top: 43px;}

header > .nav_menu{position: relative;display: none;top: 75px;}
header > .nav_menu > ul{display: inline-block;width: 100%;padding: 0rem 0rem;}
header > .nav_menu > ul > li{list-style: none;text-align: right;background-color: #1A1A1A;padding: 1.3rem 2.3rem;border-bottom: 1px solid #1A1A1A;}
header > .nav_menu > ul > li > a{font-family: 'Noto Sans KR', sans-serif;font-size: 15px;font-weight: 300; color: #ffffff;}

header > .nav_menu.active{display: flex;}



.box1{
    position: relative;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: repeat;
    background-color: #1A1A1A;
    z-index: 1;
}

.wrap1{
    position: relative;
    width: 393px;
    height: 250px;
    border: 0px solid red;
    margin: 0 auto;
}

.box2{
    position: relative;
    width: 100%;
    height: 920px;
}
.wrap2{
    width: 341px;
    height: 920px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}
.tit01{
    position: absolute;
    top: 41px;
}
.cont02{
    position: absolute;
    top: 187px;
}
.cont03{
    position: absolute;
    bottom: 80px;
}

.box3{
    position: relative;
    width: 100%;
    height: 663px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/m_img10.png);
    background-position: center;

}
.wrap3{
    width: 341px;
    height: 371px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}
.wrap4{
    width: 341px;
    height: 292px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}
.cont04{
    position: absolute;
    top: 52px;
}
.cont05{
    position: absolute;
    top: 216px;
    left: 0;
}
.cont06{
    position: absolute;
    top: 216px;
    right: 0;
}
.cont07{
    position: absolute;
    top: 18px;
    left: 0;
}
.cont08{
    position: absolute;
    top: 18px;
    right: 0;
}
footer{
    background-color: #ffffff;
    height: 81px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footerwrap{
    width: 393px;
    height: 81px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.footerimg{
    position: absolute;
    right: 45px;
    top: 8px;
}

.footercont{
    position: absolute;
    top: 18px;
    left: 26px;
}