@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

nav{
    width: 100%;
    height: 100px;
    border: 0px solid red;
    background-color: black;
}

.menubar{
    width: 1100px;
    height: 100px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    border: 0px solid red;
}

.menu{
    font-size: 24px;
    font-family: 'NotoSans KR';
    font-weight: 400;
    padding: 40px;
}

a:visited, a:active, a:link{
    color: #969696;
}
a:hover{
    color: #ffffff;
}
section{
    width: 100%;
}

.wrap1{
    width: 1100px;
    height: 705px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.box1{
    position: relative;
    width: 100%;
    height: 705px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg03.png);
}

.tit01{
    left: 0;
    bottom: 270px;
    position: absolute;
}

.box2{
    position: relative;
    width: 100%;
    height: 1163px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/bg05.png);
}

.wrap2{
    width: 1100px;
    height: 1163px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.box3{
    position: relative;
    width: 100%;
    height: 397px;
    background-color: #F5F5F5;
}

.wrap3{
    width: 1100px;
    height: 397px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.cont01{
    position: absolute;
    top: 67px;
}
.cont02{
    position: absolute;
    bottom: 91px;
    right: 0px;
}

.box4{
    position: relative;
    width: 100%;
    height: 3192px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/bg04.png);
}

.wrap4{
    width: 1100px;
    height: 3192px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.cont03{
    position: absolute;
    top: 201px;
}

.cont04{
    position: absolute;
    top: 593px;
    right: 0;
}

.cont05{
    position: absolute;
    bottom: 847px;
}

.cont06{
    position: absolute;
    bottom: 367px;
    right: 0;
}

.box5{
    position: relative;
    width: 100%;
    height: 1280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/mockup01.png);
}

.box6{
    position: relative;
    width: 100%;
    height: 1280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/mockup02.png);
}

footer{
    background-color: #ffffff;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footerwrap{
    width: 1100px;
    height: 200px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.footerimg{
    position: absolute;
    right: 50px;
    top: 23px;
}

.footercont{
    position: absolute;
    top: 49px;
}
