@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

nav{
    width: 100%;
    height: 100px;
    border: 0px solid red;
    background-color: black;
}

.menubar{
    width: 1100px;
    height: 100px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    border: 0px solid red;
}

.menu{
    font-size: 24px;
    font-family: 'NotoSans KR';
    font-weight: 400;
    padding: 40px;
}

a:visited, a:active, a:link{
    color: #969696;
}
a:hover{
    color: #ffffff;
}

section{
    width: 100%;
}

.wrap1{
    width: 1100px;
    height: 705px;
    border: 0px solid red;
    margin: 0 auto;
}

.box1{
    position: relative;
    width: 100%;
    height: 705px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/bg01.png);
}

.tit01{
    left: 0;
    top: 107px;
    position: relative;
}

.box2{
    position: relative;
    width: 100%;
    height: 1000px;
}

.wrap2{
    width: 1100px;
    height: 1000px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.tit02{
    top: 100px;
    left: 89px;
    position: absolute;
}

.cont01{
    right: 26px;
    border: 0px solid red;
    position: absolute;
    bottom: 91px;
}

.cont02{
    bottom: 120px;
    left: 0px;
    position: absolute;
    border: 0px solid red;
}

.box3{
    position: relative;
    width: 100%;
    height: 1118px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/bg02.png);
    background-position: center;
}

.wrap3{
    width: 1100px;
    height: 1118px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.tit03{
    position: absolute;
    left: 90px;
    top: 100px;
}

.cont{
    position: absolute;
    display: flex;
    bottom: 206px;
}

.item{
    position: relative;
    width: 25%;
    overflow: hidden;
    opacity: 0.7;
}

.cont .item:hover{
    transition: all;
    opacity: 1;
    transition: all 0.5s;
}


.item:hover .box{
    transition: ease-in 0.5s;
    opacity: 1;
}

footer{
    background-color: #ffffff;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footerwrap{
    width: 1100px;
    height: 200px;
    border: 0px solid red;
    margin: 0 auto;
    position: relative;
}

.footerimg{
    position: absolute;
    right: 50px;
    top: 23px;
}

.footercont{
    position: absolute;
    top: 49px;
}